.env
logs
config/airflow.cfg
research/
docker-compose.override.yml
__pycache__/
*.pyc
*.pyo
*.pyd
.vscode
.mypy_cache
terraform/.terraform
terraform/backend.conf
terraform/terraform.tfvars
keys/
dbt_venv/
CLAUDE.md
interview_prep/
dbt_project/.gitignore
